<tbody>
  <tr>
    <td height="30" align="left" background="/_upload/tpl/00/d3/211/template211/res/index_03.jpg" id="title" oldsrc="/_upload/tpl/00/d3/211/template211/res/index_03.jpg" oldid="22394" related="1">
      <span frag="窗口2" portletmode="simpleColumnAttri">研究组成员</span>
    </td>
  </tr>

  <tr>
    <td align="center" valign="top" background="/_upload/tpl/00/d3/211/template211/res/index_13.gif" oldsrc="/_upload/tpl/00/d3/211/template211/res/index_13.gif" oldid="22395" related="1">

      <table width="243" border="0" cellspacing="0" cellpadding="0" style="border-spacing":0px>
        <tbody>
          <tr>
            <!-- <td width="20" align="left"><img src="/_upload/tpl/00/d3/211/template211/res/index_23.gif" width="243" height="10" oldsrc="/_upload/tpl/00/d3/211/template211/res/index_23.gif" oldid="22417" related="1"></td> -->
          </tr>

          <tr>
            <td align="center" background="/_upload/tpl/00/d3/211/template211/res/index_25.gif" oldsrc="/_upload/tpl/00/d3/211/template211/res/index_25.gif" oldid="22415" related="1">

              <table width="70%" border="0" cellspacing="0" cellpadding="0" frag="窗口1" portletmode="simpleColumnList" configs="{ c7:'1'}" style="border-spacing":20px>

                <tbody>
                  <tr>
                    <!-- <td height="30" align="left" class="line"><img src="/_upload/tpl/00/d3/211/template211/res/index_11.gif" width="7" height="7" oldsrc="/_upload/tpl/00/d3/211/template211/res/index_11.gif" oldid="22409" related="1"></td> -->
                    <td height="30" width="20" align="left" class="dhlm"><a href="/member/" target="_self">温联星简历</a></td>
                  </tr>
                  <tr>
                    <!-- <td height="30" align="left" class="line"><img src="/_upload/tpl/00/d3/211/template211/res/index_11.gif" width="7" height="7" oldsrc="/_upload/tpl/00/d3/211/template211/res/index_11.gif" oldid="22409" related="1"></td> -->
                    <td height="30" align="center" class="dhlm"><a href="/students/" target="_self">组内研究生</a></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <!-- <td align="left"><img src="/_upload/tpl/00/d3/211/template211/res/index_24.gif" width="243" height="7" oldsrc="/_upload/tpl/00/d3/211/template211/res/index_24.gif" oldid="22418" related="1"></td> -->
          </tr>
        </tbody>
      </table>

      {{partial "sidebar/research" .}}

      {{ partial "sidebar/report" .}}

    </td>
  </tr>

</tbody>
