<table width="236" border="0" cellspacing="0" cellpadding="0" class="subright">
  <tr>
    <td height="29" background="/_upload/tpl/00/d3/211/template211/res/index_19.gif" class="zt"></span>友情链接</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="xh">
      <ul class="list-items">
        <li>
          <div align="left"><a class="main-url" href='http://www.iris.edu/hq/' target='_blank' title='Incorporated Research Institutions for Seismology'>Incorporated Research Institutions for Seismology</a></div>
        </li>
        <li>
          <div align="left"><a class="main-url" href='http://www.eq-xj.gov.cn/' target='_blank' title='新疆维吾尔自治区地震局'>新疆维吾尔自治区地震局</a></div>
        </li>
        <li>
          <div align="left"><a class="main-url" href='http://www.cenc.ac.cn/' target='_blank' title='中国地震台网中心'>中国地震台网中心</a></div>
        </li>
        <li>
          <div align="left"><a class="main-url" href='http://www.igcas.ac.cn/' target='_blank' title='中国科学院地质与地球物理研究所'>中国科学院地质与地球物理研究所</a></div>
        </li>
        <li>
          <div align="left"><a class="main-url" href='http://www.cgs.org.cn/' target='_blank' title='中国地球物理学会'>中国地球物理学会</a></div>
        </li>
        <li>
          <div align="left"><a class="main-url" href='http://www.cas.ac.cn/' target='_blank' title='中国科学院'>中国科学院</a></div>
        </li>
        <li>
          <div align="left"><a class="main-url" href='http://ess.ustc.edu.cn/' target='_blank' title='地球和空间科学学院'>地球和空间科学学院</a></div>
        </li>
      </ul>
    </td>
  </tr>
</table>
