<table width="483" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="32" background="/_upload/tpl/00/d3/211/template211/res/index_20.gif" class="fnxw">
        <span class="more"><a class="main-url" href="/meeting/">更多>></a></span>合作交流
    </td>
  </tr>
  <tr>
    <td align="left" class="fnxwcontent">
      <ul class="list-items">
        <li><span class="time">2017-03-20</span>
          <a class="main-url" href='/2017/0320/c10088a185211/page.htm' target='_blank' title='What is higher education?'>
            <font style='font-weight:bold;'>What is higher education?</font>
          </a>
        </li>
        <li><span class="time">2016-01-01</span><a class="main-url" href='/2016/0101/c10088a113632/page.htm' target='_blank' title='AGU 2015 Fall Meeting 参会海报'>AGU 2015 Fall Meeting 参会海报</a></li>
        <li><span class="time">2014-12-28</span><a class="main-url" href='/2014/1228/c10088a113623/page.htm' target='_blank' title='AGU 2014 Fall Meeting 参会海报'>AGU 2014 Fall Meeting 参会海报</a></li>
      </ul>
    </td>
  </tr>
</table>
