<table width="483" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="32" background="/_upload/tpl/00/d3/211/template211/res/index_20.gif" class="fnxw" RELATED="1">
      <span class="more"><a class="main-url" href="/popsci/">更多>></a></span>
      科普知识
    </td>
  </tr>
  <tr>
    <td align="left" class="fnxwcontent">
      <ul class="list-items">
        {{ range first 1 (where .Site.Pages.ByDate.Reverse "Section" "popsci") }}
        <li>
          <span class="time">{{ .Date.Format "2006-01-02" }}</span>
          <a class="main-url" href="{{ .Permalink }}" target="_blank" title="{{ .Title }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </td>
  </tr>
</table>
