<table width="242" border="0" cellspacing="0" cellpadding="0" id="tztg">
  <tr>
    <td height="29" align="left" background="/_upload/tpl/00/d3/211/template211/res/index_12.gif" class="title"><span class="more"><a class="main-url" href="/publications/">更多>></a></span>出版文献</td>
  </tr>
  <tr>
    <td align="left" class="content1">

      <div>
        <div class="las">
          <div style="width:55%; align:left; valign:middle" class="pic">
            <img src='/images/journals.png' class=/></div>
          <div style="width:45%;align:center; valign:middle;line-height:18px;float: right;">
            <div class="jj"><a class="main-url" href='/publications' target='_blank' title='历年发表文献'>← 点击查看历年发表文献总览：JGR, GJI, GRL, BSSA, PEPI, Science, Nature, PNAS...</a></div>
          </div>
        </div>
      </div>
      <ul class="list-items">
        <li>
          <a class="main-url" href='https://www.nature.com/articles/s41467-017-00229-9' target='_blank' title='Seismological evidence for a localized mushy zone at the Earth’s inner core boundary'>Seismological evidence for a localized mushy zone at the Ear...</a>
        </li>
        <li>
          <a class="main-url" href='http://onlinelibrary.wiley.com/doi/10.1002/2016JB012840/full' target='_blank' title='A new method for high-resolution event relocation and application to the aftershocks of Lushan Earthquake, China, 2016'>A new method for high-resolution event relocation and applic...</a>
        </li>
      </ul>
    </td>
  </tr>
</table>
