<tr>
  <td>
    <table width="729" border="0" cellspacing="0" cellpadding="0" style=" margin-top:15px;">
      <tr>
        <!--幻灯片新闻开始-->
        <td width="40%" align="center" valign="top" style=" padding:10px;">
        <div style="display:none" frag="窗口4" portletmode="simpleNews"></div>

        <span id="focusViewer"></span>
                                <script type="text/javascript" src="/_upload/tpl/00/d3/211/template211/res/sinaflash.js" oldsrc="/_upload/tpl/00/d3/211/template211/res/sinaflash.js" oldid="22495" related="1"></script>
                                <div frag="窗口5" portletmode="simpleNews"><!-- 多图交替8 图片 切换 -->
        <div class="dtjt8_div_img" style="width:240px;height:180px;">
            <img id="w5imgShow" name="w5imgShow" onclick="w5openWindow();" style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/_upload/article/images/d8/91/c69e71fe4110a661c26b289f6bbf/edc258a0-7adb-422b-be27-86198d66fa6c_s.png" width="240px" height="180px" vspace="0">
            <div id="w5imgNumber" class="number">
              <a href="javascript:w5nextAd(0)" class="nomal">1</a>
              <a href="javascript:w5nextAd(1)" class="current">2</a>
              <a href="javascript:w5nextAd(2)" class="nomal">3</a>
              <a href="javascript:w5nextAd(3)" class="nomal">4</a>
              <a href="javascript:w5nextAd(4)" class="nomal">5</a>
            </div>
        </div>
        <script language="JavaScript" class="">
            var w5imgJsons = [


                    {
                    "src" : "/images/loops/hutubi-gas-field-slide-fig1.jpg/",
                    "url" : "/research/hutubi-gas-field/"
                    },



                    {
                    "src" : "/images/loops/lisun_post.png",
                    "url" : "/research/hypoRelocate-method/"
                    },



                    {
                    "src" : "/images/loops/dongdongtian_post.png",
                    "url" : "/research/mushy-ICB/"
                    },



                    {
                    "src" : "/images/loops/Inner_core_review.png",
                    "url" : "/research/inner-core-review/"
                    },



                    {
                    "src" : "/images/loops/stress_db.png",
                    "url" : "/research/global-stress-compuation/"
                    }];


        </script>
        <script language="JavaScript">
                var w5imgUrl = new Array();
                var w5imgLink = new Array();

                var w5count = 0;
                var w5running = false;
                var w5index = 0;
                var w5nextAdTimer;
                var w5k = 0;
                function w5nextAd(num) {
                    if (num >= 0 && num <= w5count - 1) {
                        w5index = num;
                        clearTimeout(w5nextAdTimer);
                    } else {
                        num = w5index;
                    }
                    if (w5index > w5count - 1) {
                        w5index = 0;
                    }
                    if (!w5running) {
                        w5running = true;

                    } else if (document.all) {
                        w5imgShow.filters.revealTrans.Transition = 50;
                        w5imgShow.filters.revealTrans.apply();
                        w5imgShow.filters.revealTrans.play();
                    }
                    document.getElementById('w5imgShow').src = w5imgUrl[w5index];
                    document.getElementById('w5imgNumber').innerHTML = "";
                    w5k = 0;
                    for (var i = 0; i < w5count; i++) {
                        w5k++;
                        if (i !== w5index) {
                            document.getElementById('w5imgNumber').innerHTML += '<a href="javascript:w5nextAd(' + i + ')" class="nomal">' + w5k + '</a>';
                        } else {
                            document.getElementById('w5imgNumber').innerHTML += '<a href="javascript:w5nextAd(' + i + ')" class="current">' + w5k + '</a>';
                        }
                    }
                    w5index++;
                    if (w5count > 1) {
                        w5nextAdTimer = setTimeout("w5nextAd(-1)", 4000);
                    }
                }

                function w5openWindow() {
                    var jumpUrl = w5imgLink[w5index - 1];
                    if (jumpUrl && jumpUrl != '') {
                        window.open(jumpUrl);
                    }
                }

                $().ready(function() {
                    try {
                        var objs = w5imgJsons;
                        w5count = objs.length;
                        if (w5count == 0) {
                            document.getElementById('w5imgShow').style.display = "none";
                            document.getElementById('w5imgNumber').style.display = "none";
                            return;
                        }
                        for (var i = 0; i < objs.length; i++) {
                            w5imgUrl[i] = objs[i].src;
                            w5imgLink[i] = objs[i].url;
                        }
                        w5nextAd(-1);
                    } catch (e) {
                    }
                });
        </script></div>
        </td>
        <!--幻灯片新闻结束-->

        <td width="60%" align="left" valign="top">
          <table width="98%" border="0" cellspacing="0" cellpadding="0" class="news">
            <tr>
              <td height="40" align="center">
                <div>
                  <table width="98%" border="0" cellspacing="0" cellpadding="0" class="wp_article_list_table">
                    <tr>
                      <td>
                        <h4>
                          <font size="3" color="red">
                            <a class="main-url" href='{{ .Params.urllink }}' target='_blank' title='{{ .Title }}'>{{ .Title }}</a>
                          </font>
                        </h4>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            
            
            <tr>  
                <td>
                <hr class="hline" width="98%" >
                </td>
              </tr> 

            <tr>  
              <td>
                <div>
                  <tr>
                    <td width="98%" valign="justify">
                      <a class="main-url" href='{{ .Params.urllink }}' target='_blank' title='{{ .Title }}'>
                        {{ .Content }}</a>
                    </td>
                  </tr>
                </div>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
