{{ define "main" }}
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="middlebg">
  <tr>
    {{ partial "siderbar" . }}

    <td width="729" align="left" valign="top">
      <div class="wz">您现在的位置：
        <span><a href="/">首页</a>&gt;<a href="{{ .Permalink }}">{{ .Page.Title }}</a></span>
      </div>
      <div class="ejcontent">
        <table width="692" border="0" cellspacing="0" cellpadding="0" style="margin-top:8px;">
          <tbody>
            <tr>
              <td height="25" background="/_upload/tpl/00/d3/211/template211/res/index_27.gif" class="ejtitle">
                <span><a href="{{ .Permalink }}" target="_self">{{ .Title }}</a></span>
              </td>
            </tr>
            <tr>
              <td align="left">
                <div class="page2">
                  <ul class="list-items">
                    {{ range .Pages }}
                    <li >
                        <span class="time">{{ .Date.Format "2006-01-02" }}</span>
                        <a href="{{ .Permalink }}" target="_blank" title="{{ .Title }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
{{ end }}
