<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="415" height="152" align="center" valign="middle" background="/_upload/tpl/00/d3/211/template211/res/index_02.jpg">
      <img src="/_upload/tpl/00/d3/211/template211/res/index_01.png" width="374" height="65">
    </td>
    <td width="178" align="left" valign="middle" background="/_upload/tpl/00/d3/211/template211/res/index_10.gif">
      <div style="position:absolute;width:552px;height:46px;z-index:1;font-family:宋体;font-size:25px;font-weight:800; color:#0e208a;">{{ .Site.Title }}</div>
    </td>
    <td width="407" background="/_upload/tpl/00/d3/211/template211/res/index_01.jpg">&nbsp;</td>
  </tr>
</table>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="31"><img src="/_upload/tpl/00/d3/211/template211/res/index_05.gif" width="31" height="32"></td>
    <td width="937" align="center" valign="middle" background="/_upload/tpl/00/d3/211/template211/res/index_07.gif" id="menu">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      <img class="head-img" src="/_upload/tpl/00/d3/211/template211/res/index_08.gif" align="absbottom">
      {{ end }}
      <a href="http://222.195.83.195/wen/">组会信息</a>
    </td>
    <td width="31"><img src="/_upload/tpl/00/d3/211/template211/res/index_06.gif" width="32" height="32"></td>
  </tr>
</table>
