 {{ define "extra_head" }}
<link href="//cdn.bootcss.com/lightslider/1.1.6/css/lightslider.min.css" rel="stylesheet">
{{ end }}

{{ define "extra_foot" }}
<script src="//cdn.bootcss.com/lightslider/1.1.6/js/lightslider.min.js"></script>
<script src="{{ absURL "/js/slider.js"}}"></script>
{{ end }}

{{ define "main" }}
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="middlebg" style="margin:auto;">
  <tr>
    <td width="271" align="left" valign="top" style="padding-top:9px;">
      {{ partial "widget/group" . }}
      {{ partial "widget/publication" . }}
      {{ partial "widget/report" . }}
    </td>
    <td width="729" align="left" valign="top">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        {{ partial "widget/slide" . }}
        <td>
          <table width="723" border="0" cellspacing="0" cellpadding="0" class="subright">
            <tr>
              <td width="483" align="left" valign="top" bgcolor="#FFFFFF">
                {{ partial "widget/research" . }}
                {{ partial "widget/resource" . }}
                {{ partial "widget/meeting" . }}
                {{ partial "widget/popsci" . }}
              </td>
              <td width="240" align="right" valign="top" background="/_upload/tpl/00/d3/211/template211/res/index_18.gif">
                <a class="main-url" href="/contact/">
                  <img border="0" src="/_upload/tpl/00/d3/211/template211/res/index_09.jpg" width="223" height="54" style="margin:8px 7px 0 0;">
                </a>
                {{ partial "widget/link" . }}
              </td>
            </tr>
          </table>
        </td>
      </table>
    </td>
  </tr>
</table>
{{ end }}
